.adminMenuButtons {
    height: 50px;
    width: 200px; 
}

.eventDivs {
    width: 400px; 
    background-color: grey; 
}

.caseManagementDivs {
    height: 50px;
    width: 400px; 
    background-color: grey; 
}

.formDivs {
    background-color: grey;
    width: 200px; 
}