
.links {
    margin-bottom: 10px;
  }
  .link {
    margin: 0 10px;
  }
  
  .tabs {
    padding: 20px;
    border: 1px solid #f5f5f5;
  }

  .bioDivs {
    background-color: grey; 
    width: 200px; 
    height: 100px; 
  }

  .navbar{
    width: 375px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
 }
 
 .nav{
    display: inline-block;
    background-color: #000000;
    height:50px;
    width: 16.6%;
 }
 
 .h2nav {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 8px;
    color: #ffffff;
 }

