.adminMenuButtons{
    height: 90px;
    width:80%;
    color: #ffffff;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 2px;
    background-color: rgb(118, 118, 118);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 0px;
    font-size: 15px;
}