.nav-link {
  height:75px;
  font-family: 'Heebo', sans-serif;
  width:75px;
  margin:none;
  background-color:rgb(210, 47, 37);
  display: inline-block;
  position: relative;
}

.subnavbar{
  height: 50px;
  background-color: #000000;
}

.subnavigation{
  display: inline-block;
  background-color: #000000;
  height:40px;
  width: 16.6%;
}

.subh2nav {
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: auto;
  font-size: 8px;
  color: #ffffff;
}