.nav-link {
  height:75px;
  font-family: 'Heebo', sans-serif;
  width:75px;
  margin:none;
  background-color:rgb(210, 47, 37);
  display: inline-block;
  position: relative;
}

.subnavbar{
  height: 50px;
  background-color: #000000;
  display: grid;
  align-items: center;
  grid-auto-flow:column;
}


.subNavSection a  {
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: .65em;
  text-align: center;
}

.subNavSection:first-of-type {
  padding-left:5px;
}