.nav-link {
  height:75px;
  font-family: 'Heebo', sans-serif;
  width:75px;
  margin:none;
  background-color:rgb(210, 47, 37);
  display: inline-block;
  position: relative;
}

.subnavbar{
  height: 50px;
  background-color: #000000;
}

.subNavSection{
  display: inline-block;
  width: 16.6%;
}

.subNavSection a  {
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  font-size: .75em;
  padding-top: 3px;
}